@import url("clear.css");
@import url("fonsFooter.css");

input {
    display: inline-block;
}

label {
    display: inline-block;
}

._contain {
    max-width: 1440px;
    margin: 0 auto;
}

body {
    overflow: hidden;
}

/* admin.php */
input {
    display: inline-block;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.left__menu {
    width: 50%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.right__menu {
    width: 50%;
}

.right__menu__contein {
    /* background-color: green; */
    background-color: #182D4C;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.left__menu__contein {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    /* height: 100%; */
    justify-content: center;
}

.circle__internal {
    width: 12vw;
    height: 12vw;
    padding: 20px;
    border: 0.7vw solid #182D4C;
    /* border: 10px solid green; */
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 1.5vw;
    font-weight: 700;
    /* font-family: Verdana ; */
    margin: 15px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.circle__text {
    position: relative;
    z-index: 3;
}

.cout {
    position: relative;
    z-index: 3;
}

.circle__internal::before {
    content: "";
    position: absolute;
    width: 12.1vw;
    height: 12.1vw;
    /* border-radius: 50%; */
    background-color: #fff;
    z-index: 1;
    animation: rotate 1s linear forwards;
    stroke-dasharray: 20px;
    /* border: 15px solid; */
    /* border-color: #fff transparent transparent transparent; */
    transition: 0.5s all;
}

/* Анимация */

@keyframes rotate {
    0% {
        width: 12.1vw;
        transform: rotate(0deg);
    }

    25% {
        width: 10vh;
        transform: rotate(45deg);
    }

    50% {
        width: 8vh;
        transform: rotate(90deg);
    }

    100% {
        width: 0px;
        transform: rotate(90deg);
    }

    /* 100%{
        width: 0px;
        transform: rotate(360deg);
    } */

}

/* admin.php end */

/* singin.php */

.singin {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.singin__main {
    /* width: 400px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #182D4C;
    color: white;
    padding: 20px;
}

.singin__button a {
    display: inline-block;
    color: white;
    border: 1px solid white;
    padding: 5px;
}

.singin__content p {
    text-align: center;
}

.singin__button button {
    padding: 5px;
}

.singin__content {
    display: flex;
    flex-direction: column;
}

.singin__content input {
    margin-bottom: 20px;
    width: 300px;
}

/* Right div */
.logout {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.logout__contein {
    /* padding: 10px; */
    /* background-color: white; */
    /* margin: 10px; */
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;


}

.logout__login {
    padding: 10px;
    background-color: white;
    cursor: pointer;
    width: 150px;
    text-align: center;
    z-index: 2;
}

.header__logo {
    filter: brightness(0) invert(1);
    width: 150px;
    padding: 10px;
}

.header__logo img {
    width: 80%;
    height: 80%;
    object-fit: cover;

}


.logout__content {
    display: flex;
    width: 350px;
    justify-content: space-between;
    padding: 20px;
}

.logout__menu {
    background-color: #fff;
    text-align: center;
    padding: 10px;
    width: 150px;
}

/* .logout__contein:hover .logout__menu{
    visibility: visible;
    opacity: 1;
    transform: translateY(100%);
} */

.info__label {
    color: #fff;
}

.info {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;

}

.info__info {
    color: #fff;
    font-size: 1.5vw;
    letter-spacing: 3px;

}

.info__image img {
    max-width: 250px;
}

.info_text_flex {
    display: flex;

}

.info_text_flex :not(:last-child) {
    margin: 0px 10px 0px 0px;
}

.info__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;

}

.order__contein {
    max-width: 100%;
    text-align: center;
    font-size: 1.5vw;
    color: #fff;
}

/* Right div end */
/* singin.php end */


/* Таблица произволителей */
.main {
    display: flex;
}

.menu__admin__pages {
    background-color: #182D4C;
    width: 300px;
}


.menu__admin__pages__contain {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 1.6vw;
    /* font-weight: 600; */
    height: 100%;
}

.menu__admin__pages__logo {
    position: relative;
    filter: brightness(0) invert(1);
    padding: 10px;
    margin-bottom: 3px;
    width: 10vw;
}

.menu__admin__pages__logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.manufact__link {
    display: inline-block;
    color: #fff;
    letter-spacing: 2px;
    padding: 16px 10px;
    width: 100%;
    border-bottom: 1px solid #EEE;
}



.manufact__link:first-child {
    border-top: 1px solid #EEE;
}


.table {
    height: 100vh;
    overflow: auto;
    flex: 1 0 auto;
    /* width: 100%; */
}

.table__contain {
    display: flex;
    flex-direction: column;
    border: 1px #EEE solid;
}

.table__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: 70px;
    max-height: 100%;
}

.table__content:nth-child(2n) {
    background-color: #eeeeee;
}

.table__content:nth-child(2n) .table__title {
    border-right: 3px solid white;
}

.table__content:nth-child(2n) .table__title__number {
    border-right: 3px solid white;
}

.table__header {
    background-color: #182D4C;
    color: white;
    position: sticky;
    width: 100%;
    top: 0;
}

.table__title {
    flex: 1 1 auto;
    text-align: center;
    width: 10vw;
    padding: 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-spacing: 2px;
    word-break: break-all;
    border-right: 3px solid #eeeeee;
}

.table__title__number {
    width: 40px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 2px solid #eee;
}

.button__add {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    width: 150px;
    height: 50px;
    box-shadow: 0px 5px 5px 1px #182d4cad;
}

.buttons__add {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 20px;
    width: 100%;
    padding: 0 10px;
}

.flex__content {
    display: flex;
}

/* Popap menu */
.popap__window {
    display: none;
    position: absolute;
    height: 100vh;
    width: 100%;
    top: 0;
    left: 0;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    background-color: #182d4c7e;
    /* background-color: green; */
}

.popap__window__conten {
    min-width: 500px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding: 20px;
    position: relative;
    z-index: 20;
}

.popap__out {
    position: absolute;
    right: 0;
    top: 0;
    padding: 5px;
    font-size: 18px;
    cursor: pointer;
}

/* .popap__text:nth-child(2n) {
    background-color: #eeeeee;
} */
.popap__title {
    text-align: center;
}

.popap__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
}

.popap__text:not(:last-child) {
    margin-bottom: 20px;
}

.popap__form {
    width: 100%;
}

.popap__all {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* contact__info */

.contact__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 50vh;
}

.contact__table form {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact__title label {
    width: 15vw;
}

.contact__title input {
    width: 15vw;
}

/* ====== Страница заказов ============================================== */
.zakaz__main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;

}

.zakaz__content {
    display: flex;
    background-color: #182D4C;
    width: 45vw;
    height: 25vw;
    padding: 10px;
    color: #fff;
    margin-right: 5px;
    border-radius: 4px;
}



.zakaz__content__img {
    text-align: center;
    width: 45%;
    /* height: vw; */
    background-color: #fff;
    border-radius: 4px;
}

.zakaz__content__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.zakaz__info__content {
    display: flex;
    justify-content: space-around;
    flex: 1 1 auto;
}

.zakaz__info__title {
    font-size: 1vw;
    border-bottom: 1px solid #fff;
}