
.image-slider_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 100px 0px 40px 0px;
    margin-bottom: 50px;
    overflow: hidden;
}

.image-slider__image {
    max-width: 700px;
    max-height: 700px;
    /* min-height: 300px;
    min-width: 300px; */
}

.image-slider__image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Стрелки */
.image-slider .swiper-button-prev,
.image-slider .swiper-button-next {
    color: #182D4C;
    font-size: 100px;
}
/* Пагинация */
.image-slider .swiper-pagination {
    bottom: 20px;
}

/* Буллеты */
.image-slider .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    background-color: #fff;
}


.image-slider__contain {
    flex: 1 1 auto;
    /* border-radius: 10px; */
    position: relative;
    z-index: 2;
    padding: 10px 50px;
    /* max-width: 500px; */
    text-align: center;

    /* box-shadow: 1px 1px 5px black; */
}

.image-slider__contain > *:not(:last-child) {
    margin: 0px 0px 0.5vw 0px;
}
.slider-contain {

}

.slider-contain__text {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    line-height: 2vw;
    color: #182D4C;
    font-size: 1.5vw;

}

.slider-contain__title {
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    line-height: 3vw;
    color: #182D4C;
    font-size: 3vw;
}


.slider-contain__buttons {
    display: inline-flex;
    width: 50%;
    justify-content: center;
    align-items: center;

}

.slider-contain__button {
    border-radius: 10px;
    background-color: #182d4cce;
    min-height: 48px;
    display: flex;
    justify-content: center;
    text-align: center;
    letter-spacing: 0.2px;
    align-items: center;
    line-height: 150%;
    border: 2px solid #182D4C;
    width: 100%;
    color: #fff;
    font-family: 'PT Serif';
    font-style: normal;
    font-weight: 700;
    transition: all 0.5s;
    font-size: 0.9vw;
}

.slider-contain__button:hover {
    background-color: #fff;
    color: #182D4C;
}