@import url("clear.css");
@import url("common.css");
@import url("slider.css");
@import url("fonsFooter.css");
@import url("footer.css");

body {
	color: black;
}

/* Header + NavBar */

.header__main {
	background-color: #182D4C;
	position: sticky;
	z-index: 6;
	width: 100%;
	top: 0;
}

.header__main__plus {
	transition: all 0.5s;
	background-color: #182d4c91;
}

.header__body {
	padding: 0 20px;
}

.menu__auth {
	height: 70px;
	padding: 10px;
}

.menu__auth img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.header__body__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 70px;
}

.menu__logo {
	max-width: 100px;
	text-align: center;
	height: 100%;
	color: white;
	padding: 5px;
	background-color: white;
	/* object-fit: cover; */
	/* filter: brightness(0) invert(1); */
}

.menu__logo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu__link a {
	font-size: 18px;
	color: white;
}

.menu__lang {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__lang {
	object-fit: cover;
	object-position: center;
	height: 40px;
	width: 40px;
}

.menu__lang img {
	width: 100%;
	/* height: 100%; */
	object-fit: cover;
}

/* Header + NavBar end */

/* About Page */
.about {
	background-color: #182D4C;
	transition: all 0.5s;
	color: white;
}



.main__about {
	/* display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0px; */
}

.photo__contein {
	max-width: 450px;
	padding: 40px;
	/* height: 400px; */
	position: relative;
	overflow: hidden;
}

.photo__text__contein {
	flex: 1 1 auto;
	top: 0;
	left: 0;
	height: 100%;
	padding: 10px;
}

.text__contein__title {
	font-size: 32pt;
	font-weight: 700;
}

.text__contein__text {
	font-size: 24pt;
}

.photo__contein:hover .photo__text__contein {
	opacity: 1;
	transform: translateY(0);
	visibility: visible;
}

.photo__contein img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	/* filter: invert(1); */
}

.main__about__photo {
	display: flex;
	justify-content: space-around;
	align-items: center;
	/* flex-wrap: wrap; */
}

.main__about__text {
	width: 50%;
}

.about {
	padding: 50px 0px;
	/* text-align: center; */
}

.about__title {
	font-size: 24px;
	font-weight: 700;
}

.main__about__text p {
	font-size: 18px;
	line-height: 2;
	font-weight: 700;
}
.color{
	color: #182D4C;
	background-color: white;
}
/* About END */

/* Specification */
.specification {
	background-color: white;
	color: #182D4C;
	padding: 120px 0px;
}

/* .specification__body {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
} */

.specification__card {
	width: 400px;
	height: 700px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 0px 60px;
}

.card__logo {
	height: 200px;
	width: 300px;
	text-align: center;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card__logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
}

.card__title {
	font-size: 24px;
	font-weight: 700;
}

.card__text {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 20px;
}

.specification__slider__contein {
	overflow: hidden;
}


@media (max-width: 1024px) {

	/* About */
	.photo__contein {
		max-width: 350px;
		padding: 30px;
	}

	.text__contein__title {
		font-size: 24px;
		font-weight: 700;
	}

	.text__contein__text {
		font-size: 18px;
	}
	

	/* About end */
	/* Specification */
	.card__title {
		font-size: 16px;
		font-weight: 700;
	}

	.card__text {
		font-size: 14px;
		font-weight: 700;
		padding-bottom: 20px;
	}

	.specification {
		padding: 60px 0;
	}

	/* Specification end */
}

@media (max-width: 720px) {

	/* About */
	.photo__contein {
		max-width: 150px;
		padding: 20px;
	}

	.about {
		padding: 20px 0px;
	}

	.text__contein__title {
		font-size: 14px;
		font-weight: 700;
	}

	.text__contein__text {
		font-size: 12px;
	}

	/* About */
	/* Specification */
	.card__text {
		display: none;
	}

	.card__logo {
		width: 150px;
		height: 100px;
		padding: 5px;
	}
}

.product_img {
	width: 250px;
	height: 300px;
}

.product_img img {
	width: 250px;
	height: 300px;
}

/* ==================== страница Товары ========================================= */

.page__products {
	flex: 1 1 auto;
}

.product__menu {
	padding: 20px 0px;
}

.product__body__menu {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
}

/* .product__body__menu > *:not(:last-child) {
	margin: 0px 10px 0px 0px;
} */

.product__menu__link {
	display: flex;
	justify-content: center;
	align-items: center;
	border-left: 1px solid #3a5e94;
	border-top: 1px solid #3a5e94;
	border-bottom: 1px solid #3a5e94;
	padding: 0px 10px;
	min-width: 150px;
	height: 40px;
	transition: 0.5s all;
	cursor: pointer;
}

.product__menu__link a {
	color: #fff;
	font-size: 1vw;
	transition: 0.5s all;
}

.product__menu__link:hover {
	background-color: #fff;
	color: #182d4c;
}

.product__menu__link:hover a {
	color: #182d4c;
}

.product__menu__link:last-child {
	border-right: 1px solid #3a5e94;
}

.products {
	/* padding-bottom: 40px;
	padding-top: 50px; */
}

.products-container {}


.products__title {}

._title {}

.products__items {
	display: flex;
	/* max-width: 1280px; */
	flex-wrap: wrap;
	justify-content: flex-start;
}

.item__product {
	border-radius: 3px;
	background-color: #182d4c;
	width: 13vw;
	/* height: 18vw; */
	display: flex;
	padding: 10px;
	flex-direction: column;
	/* align-items: center; */
	justify-content: center;
	position: relative;
	margin-right: 10px;
	/* border: 2px solid #182d4c; */
}

.item__product__image {
	/* position: absolute; */
	text-align: center;
	width: 100%;
	height: 12vw;
}

.item__product__image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
	object-position: center;
	/* margin-top: 10px; */
	background-color: #fff;
}

.item__product__body {
	flex-direction: 1 1 auto;
	display: flex;
	flex-direction: column;
	/* padding: 10px; */
}

.item__product__content {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	padding-top: 10px;
}

.item__product__content>*:not(:last-child) {
	margin: 0px 0px 5px 0px;
}

.item__product__title {
	font-weight: 400;
	font-size: 1.3vw;
	line-height: 19px;
	color: #fff;
	padding-bottom: 10px;
	/* text-align: center; */
}

.item__product__text {
	font-weight: 400;
	font-size: 0.8vw;
	line-height: 16px;
	color: #fff;
}

.item__product__price {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
}

.item__product__price_old {
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	color: rgb(145, 143, 143);
}

.item__product__buttons {
	display: inline-flex;
	width: 100%;
	/* padding: 10px; */
}

.item__product__button {
	background-color: #fff;
	border-radius: 4px;
	/* height: 1.5vw; */
	padding: 0.8vw;
	width: 100%;
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	text-align: center;
	letter-spacing: 0.2px;
	align-items: center;
	line-height: 150%;
	color: #182D4C;
	font-weight: 700;
	transition: all 0.5s;
	font-size: 0.9vw;
	border: 1px solid #182d4c;
}

.item__product__button:hover {
	background-color: rgba(255, 255, 255, 0.158);
	color: #fff;
}

/* ==================== страница Калькулятор ========================================= */

.product {
	/* display: flex; */
	/* justify-content: center;
	align-items: center; */
	height: 100%;
}

.product__harackter__content {
	background-color: #182D4C;
	padding: 10px;
	display: flex;
	width: 40vw;
	/* height: 30vw; */
	/* width: 35%; */

}

.product__calculate__main {
	display: flex;
	justify-content: center;
	align-items: center;
}

.haracter__content {
	display: flex;
	margin-top: 10px;
}

.harackter {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
	width: 50%;
}



.product_img {
	text-align: center;
	width: 50%;
	height: 20vw;
	background-color: #fff;
	border-radius: 4px;
}

.product_img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.harackter__title {
	color: #fff;
	letter-spacing: 0.1vw;
	font-size: 1.3vw;
	border-bottom: 1px solid #fff;
}

.harackter__text {
	color: #fff;
	font-size: 1vw;
}

.product__calculate { 
	flex: 1 1 auto;
	/* display: flex; */
	/* flex-wrap: wrap; */
	margin-top: 10px;
}

.parametr__andDop {
	display: flex;
	justify-content: space-between;

}

._mainTitle {
	text-align: center;
	color: #182D4C;
	font-size: 1.3vw;
}

.product__calculate__parametr {
	/* display: flex;
	flex-direction: column; */
	width: 17vw;
	height: 14vw;
	padding: 10px;
	border: 5px solid #182D4C;
}

.total__price {
	border: 5px solid #182D4C;
	width: 17vw;
	height: 13vw;
	padding: 10px;
}

.total__price > *:not(:last-child) {
	margin-bottom: 5px;
}

.total__price__title {
	color: #182D4C;
	font-size: 1vw;
}

.product__calculate__size>*:not(:last-child) {
	margin: 0px 0px 5px 0px;
}

.calculate__parametr__title {
	color: #182D4C;
	font-size: 1vw;
}


.calculate__button {
	border-radius: 5px;
	background-color: #182D4C;
	color: #fff;
	cursor: pointer;
	transition: 0.5s all;
}

.calculate__button:hover {
	background-color: #fff;
	color: #182D4C;
}


/* ==================== страница Карзина ========================================= */
.basket__product__haracter {
	display: flex;
	justify-content: space-around;
	background-color: #182D4C;
	width: 25vw;
	height: 13vw;
	padding: 10px;
	color: #fff;
	margin-right: 5px;
	border-radius: 4px;
}

.basket__product__haracter:not(:last-child) {
	margin-bottom: 10px;
}

.basket__product {
	overflow-y: auto;
	height: 100%;
	overflow-x:hidden;
}

.basket {
	display: flex;
	justify-content: space-between;
	padding-top: 50px;
	overflow: hidden;
	height: 35vw;
	width: 40vw;
}

.zakaz {
	display: flex;
	flex-direction: column;
}

.nameAndType {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	padding-left: 40px;
}

.basket__img {
	text-align: center;
	width: 50%;
	background-color: #fff;
	border-radius: 4px;
}

.basket__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.zakaz > *:not(:last-child) {
	margin-bottom: 5px;
}

.zakaz__button {
	border-radius: 5px;
	background-color: #182D4C;
	color: #fff;
	cursor: pointer;
	transition: 0.5s all;
}

.zakaz__button:hover {
	background-color: #fff;
	color: #182D4C;
}